body{
	padding: 0;
	margin: 0;
}

/* 公共样式  */
.hide{
	display:hidden;
}
.show{
	display:show;
}
.left{
	float:left;
}
.right{
	float:right;
}

/* 修改bootstrap部分样式 */
.control-label{
	color:#676A6C;	
}
.form-horizontal{
	margin-top:25px;
}
.form-group{
	margin-bottom:20px !important;
}
.col-sm-10{
	width:500px !important;	
}


/* list筛选 */
.list-filterbox{
	border-bottom:1px solid #EEEEEE;
	padding-bottom:10px;
}

.list-search{
	float:right;
	widht:200px;
	margin-right:5px;
}
.list-filter{
	float:right;
	margin-right:40px;
	height:35px;
	line-height:35px;
	cursor:pointer;
}

.list-filter a{
	text-decoration:none !important;
}

/* list */
.list-table{
	margin-top:20px;
}
.table{
	border-bottom:2px solid #DDDDDD;
}
.table tbody tr:hover{
	background-color:#F5F5F5;
}
.table tbody td{
	width:12%;
}
.table span{
	margin-right:6px;
	font-size:13px;
	color:#2688C7;
	cursor:pointer
}

























