/***************  list훱   *****************/
.apply-list{
	border: 1px solid #E5E5E5;
	border-top:3px solid #CCCCCC;
	border-radius:6px;
	min-height:80px;
	margin:10px 0 30px;
	padding:15px;
}
.apply-list-title{
	height:35px;
	padding:5px 0 0 10px;
	border-bottom:1px solid #CCCCCC;
	font-size: 15px;
    font-weight: 600;
}
.apply-list-box{
	padding:0 0 5px 20px;
}
.apply-list-card{
	float:left;
	width:300px;
	height:35px;
	line-height:35px;
	letter-spacing:2px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Microsoft YaHei", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight:700;
	font-size:15px;
	margin:20px 40px 0 0;
	border-radius:5px;
	background-color:#58D2AF;
	cursor:pointer;
}
.apply-list-card:hover{
	background-color:#1DCCAA;
}

/******************** 쐜온 ***************************/
/* 퍼쮏콾 */
.add-tips-box{
	padding-top:7px;
	float:left;
}

/* 씴 input */
.add-input-group{
	float:left;
	width:430px !important;
	border-radius:4px 0px 0px 4px !important;
	cursor:default !important;
}
.add-icon-group{
	float:left;
	height:34px;
	width:40px !important;
	font-size:18px !important;
	cursor:pointer;
	border-left:0 !important;
	border-radius:0px 4px 4px 0px !important;
}
.add-icon-group:hover{
	background-color:#DBE5E7;
}
.add-icon-group-user{
	margin-left:-2px !important;
}

/* 씴 modal */
.modal-content{
	font-family:"풕턼환쥌" !important;
}
.add-madal-btnbox{
	margin-top:10px;
}
.add-madal-btn{
	float:right;
	margin-right:12px;
}
.add-madal-body{
	border-top:1px solid #E5E5E5;
	margin-top:10px;
}
.add-madal-selbtn{
	width:6%;
	height:200px;
}
.add-madal-selbtn button{
	margin-top:130px;
	width:35px !important;
}
.add-madal-selbox{
	width:40%;
	margin:5px 20px 20px;
}
.add-madal-seltitle{
    font-size: 13px;
    color: #999999;
    line-height: 15px;
    padding-left: 5px;
	height:15px;
}
.add-madal-area{
	height:350px;
	border:1px solid #CCCCCC;
	border-radius:4px;
}
.add-madal-area ul{
	margin:0;
	padding:0;
}
.add-madal-area ul li{
	display:block;
	min-height:38px;
	line-height:38px;
	padding-left:15px;
	list-style-type:none;
	cursor:pointer;
	color:#676A6C;
}
.add-madal-area ul li:hover{
	background-color:#EEEEEE;
}
.add-madal-li-bgcolor{
	background-color:#EEEEEE;
}
.add-madal-area ul li a{
	margin-right:10px;
}
.add-madal-seled-area ul li{
	cursor:default;
}
.add-madal-seled-area a{
	cursor:pointer;
}
.add-modal-user-list{
	display:none;
}
.add-modal-user-list li{
	padding-left:55px !important;
}

/* 쏚얹썂콘 */
.add-btn-sub{
	width:120px;
	margin:20px 15px 0 0;
	font-family:"풕턼환쥌";
}
















